footer
    .wrapper.footer
        .info_container
            p.title Title Here
            p.info Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec dignissim elit, at dignissim enim. 
        .about
            p.title About
            ul
                li
                    a(href="#") History
                li
                    a(href="#") Our Team
                li
                    a(href="#") Brand Guidelines
                li
                    a(href="#") Terms & Condition
                li
                    a(href="#") Privacy Policy
        .services
            p.title Services
            ul
                li
                    a(href="#") How to Order
                li
                    a(href="#") Our Product
                li
                    a(href="#") Order Status
                li
                    a(href="#") Promo
                li
                    a(href="#") Payment Method
        .other
            p.title Other
            ul
                li
                    a(href="#") Contact Us
                li
                    a(href="#") Help
                li
                    a(href="#") Privacy